PROJECT_NAMESPACE=mlops-proyecto2

POSTGRES_USER=mlops
POSTGRES_PASSWORD=mlops123
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DATA_DB=mlops_data
MLFLOW_DB=mlflow_meta
AIRFLOW_DB=airflow_meta

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_BUCKET=mlflow-artifacts
MLFLOW_S3_ENDPOINT_URL=http://minio:9000
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin123
AWS_DEFAULT_REGION=us-east-1

MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_MODEL_NAME=DiabetesReadmissionModel
MLFLOW_MODEL_ALIAS=champion

DATASET_URL=https://docs.google.com/uc?export=download&id=1k5-1caezQ3zWJbKaiMULTGq-3sz6uThC
DATASET_PATH=/opt/airflow/data/Diabetes.csv
TARGET_COLUMN=readmitted
BATCH_SIZE=15000
